*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(  #a8efa9 50%,  #e27d3f 50%);
}

.app{
    font-family: "Poppins", sans-serif;
    width: min(95vw, 31.25em);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1.875em;
}

.container{
    padding: 2em 2.5em;
    background-color: antiquewhite;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

#wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}

#wrapper input{
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 1em 0.5em;
}

#wrapper input:focus{
    outline: none;
    border-color: #e27d3f;
}

#wrapper button{
    position: relative;
    border-radius: 0,5em;
    font-weight: 500;
    font-size: 1em;
    background-color: #e27d3f;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 1em;
}

#error{
    text-align: center;
    background-color: #fff;
    color: rgb(124, 215, 124);
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.8em;
    display: none;
}